<div{{ attributes }}>
    <!-- Footer (optional) -->
    <footer class="py-6 bg-gray-200 text-center text-sm text-gray-600">
        © 2025 <a class="text-blue-600" href="https://gprodb.com">GProDB</a>. All rights reserved.
    </footer>
</div>
